$first-color: #212733;
$second-color: #E8E8E8;
$third-color: #000;
$four-color: #282739;
$text-color: #5D6C7B;
$black: #000;
$white: #fff;
$grad1: linear-gradient(90deg, #074d88 0%, #61b3c9 100%);
$grad2: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);